@media (min-width: 1024px) {
  #mobile-menu {
    display: none;
  }
  #content .member-item {
    float:left;
    width:calc(100%/3);
    text-align: center;
    }
    #content .content-section {
        
    }
}
@media (min-width: 740px) and (max-width:1023px) {

    #mobile-menu {
        display: none;
      }
    .row {
        margin-left: 8px;
        margin-right: 8px;
    }


}
@media (max-width:740px) {
    #nav > li {
        display: block;
    }
    #header .search-btn {
        display:none;
    }
    #content .content-section {
        width: 100%;
        
    }
    .row {
        margin-left: 8px;
        margin-right: 8px;
    }
    #content .member-img {
        /* width: 100%; */
        margin-top: 15px;
        width: 100%;
        border-radius: 4px;
    }

}